.table > table {
  width: 100%;
  white-space: nowrap;
}

.table > table tbody tr {
  border-top: 1px solid #ddd;
  font-weight: 400;
}

.table > table td,
.table > table th {
  padding: 0.75rem;
}

.table :is(th, td).actionsTd {
  padding: 0;
  text-align: center;
}

.actionsArea {
  position: relative;
}

.actionsArea > button {
  background: transparent;
  outline: 0;
  border: 0;
  padding: 0;
  width: 2rem;
  height: 2rem;
  border-radius: 0.5rem;
  color: var(--primary);
  transition: all 0.3s;
}

.actionsArea > button > svg {
  height: 0.875rem;
}

.actionsArea > ul {
  position: absolute;
  white-space: nowrap;
  top: calc(100% + 0.25rem);
  right: 0.375rem;
  background: var(--background);
  border: 1px solid #ddd;
  border-radius: 0.5rem;
  padding: 0.375rem;
  min-width: 9rem;
  transition: all 0.3s;
  z-index: 1;
}

.actionsTd:hover .actionsArea > button {
  background: var(--primary-extra-x-light);
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.05);
}

.actionsTd:not(:hover) .actionsArea > ul {
  opacity: 0;
  visibility: hidden;
}

.actionsArea > ul > li + li {
  margin-top: 0.125rem;
}

.actionsArea > ul > li > :is(a, button) {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 0.75rem;
  padding: 0.3125rem 1rem;
  background: transparent;
  border: 0;
  outline: 0;
  font-size: 0.9375rem;
  font-weight: 500;
  color: var(--primary);
  border-radius: 0.375rem;
  transition: all 0.3s;
}

.actionsArea > ul > li > :is(a, button):hover {
  background: var(--primary-extra-x-light);
}

.actionsArea > ul > li > :is(a, button).danger {
  color: var(--danger);
}

.actionsArea > ul > li > :is(a, button).danger:hover {
  background: var(--danger-light);
}

.actionsArea > ul > li > :is(a, button) > svg {
  height: 1rem;
  width: 1rem;
  object-fit: contain;
}

.actionsTd,
.smallTd {
  width: 1rem;
}
